* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', 'sans-serif', 'helvetica';
    text-align: left;
}

h2 {
    font-family: lato;
    font-weight: 600;
    text-align: center;
}